<nav class="navbar navbar-expand-lg bg-body-tertiary navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">PC Shop</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ path('app_homepage') }} ">Accueil</a>
        </li>
        {% if categories is defined %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Catégories
            </a>
            <ul class="dropdown-menu">
              {% for category in categories %}
                <li><a class="dropdown-item text-primary categoryTitle" href="{{ path('app_categorie_index') }}">{{ category.name }}</a></li>
                  
                <li><hr class="dropdown-divider"></li>
              {% endfor %}

            </ul>
          </li>
        {% endif %}

      <li class="nav-item">
        <a class="nav-link" href="{{ path('app_article_index') }}">Nos Articles</a> 
      </li>


         {% if app.user %}
            <li class="nav-item navbtnCss2">
              <a href=" {{ path('app_logout')}}" class="nav-link fs-4"> Déconnexion </a>
            </li>
          {% else %}
            <li class="nav-item">
              <a href= " {{ path('app_login')}}" class="nav-link fs-4"> Connexion</a>
            </li>
            <li class="nav-item">
              <a href= " {{ path('app_register')}}" class="nav-link fs-4"> Inscription</a>
            </li>
        {% endif %} 
    

    </ul>
    {# <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> #}
      </div>
  </div>
</nav>