{% extends 'base.html.twig' %}

{% block title %}Article index {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/articleShow.css') }}">
{% endblock %}

{% block body %}
	<h1 class="text-center mb-3 mt-5">Nos Articles </h1>

	{% for article in articles %}
		<div class="container d-flex justify-content-center">
			<div class="card d-flex justify-content-center mt-3 mb-5" style="width: 35rem;">
				<img src="{{ article.photo }}" class="card-img-top mt-2 ms-2 me-2 mb-2 w-75" alt="...">
				<div class="card-body">
					<h5 class="card-title">{{ article.name }}</h5>
					<h5>_____________________________</h5>
					<br>
					<p class="text-decoration-underline">Description du produit:</p>
					<p class="card-text">{{ article.caption }}</p>
				</div>
				<ul class="list-group list-group-flush">
					<br>
					<h5 class="text-center">Le Prix Maryse:</h5>
					<li class="list-group-item">
						<h4 class="text-center">{{ article.price }}
							€</h4>
					</li>
				</ul>

		<div class="container mt-3 mb-3 d-flex justify-content-center">
			<a class="btn btn-outline-primary" href="{{ path('app_article_show', {'id': article.id}) }}">Voir</a>
			{% if is_granted("ROLE_ADMIN") %}
				<a class="btn btn-outline-info ms-1 me-1" href="{{ path('app_article_edit', {'id': article.id}) }}">Modifier</a>

			{% endif %}
		</div>
			</div>
		</div>
	{% endfor %}
	{% if is_granted("ROLE_ADMIN") %}
		<div class="container d-flex justify-content-center mb-5">
			<a class="btn btn-success" href="{{ path('app_article_new') }}"> Créer un nouvel Article</a>
		</div>
	{% endif %}

{% endblock %}
