{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/showArticle.css') }}">
	<style>
		.star {
			font-size: 2rem;
			color: #ccc;
			cursor: pointer;
		}
		.star-selected {
			color: gold;
		}
		.star-rating {
			display: inline-block;
			margin-bottom: 0.5rem;
		}
	</style>
{% endblock %}
{% block body %}
	<h1 class="text-center mt-5 mb-3">Votre Sélection</h1>
	<div class="container">
		<table class="table">
			<tbody>
				<tr>
					<th>Id</th>
					<td>{{ article.id }}</td>
				</tr>
				<tr>
					<th>Dénomination</th>
					<td>{{ article.name }}</td>
				</tr>
				<tr>
					<th>Description</th>
					<td>{{ article.caption }}</td>
				</tr>
				<tr>
					<th>Prix</th>
					<td>{{ article.price }}
						€</td>
				</tr>
				<tr>
					<th>Photo</th>
					<td>
						<a href="{{ article.photo }}" target="_blank">
							<img class="w-25" src="{{ article.photo }}" alt="Agrandir la photo" style="cursor:zoom-in;">
						</a>
					</td>
				</tr>
				<tr>
					<th>Moyenne des notes utilisateurs</th>
					<td >
						{% if moyenne > 0 and moyenne < 3 %}
						<span class="badge bg-danger fs-6 mt-2">
							{{ moyenne|number_format(2, ',', ' ') }}
							/ 5
						{% elseif moyenne >= 3 %}
						<span class="badge bg-success fs-6 mt-2">
							{{ moyenne|number_format(2, ',', ' ') }}
							/ 5
						{% else %}
							Pas de notes disponibles
						{% endif %}
						</span>
					</td>
				</tr>
				<tr></tr>
				<tr>
					<th>PC ou MAC
					</th>
					<td>{{ article.type ? 'Mac' : 'PC' }}</td>
				</tr>
				<tr>
					<th>Les Commentaires des clients</th>
					<td>
						<a class=" btn btn-outline-primary rounded-pill px-4 py-2 shadow-sm fw-bold" href="{{ path ('app_article_comment', {'id': article.id}) }}">
							Voir tous les Commentaires</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>


	{% if app.user %}
		<div class="container borderCss mt-5">
			<div class="row">
				<h1 class="mt-5 mb-5 text-center">Laissez Votre Commentaire</h1>
				<div class="col-md-6 offset-md-3">

					{{ form_start(form) }}

					{{ form_errors(form) }}

					<div class="form-group">
						{{ form_label(form.autor) }}
						{{ form_widget(form.autor, { 'attr': {'class': 'form-control'} }) }}
						{{ form_errors(form.autor) }}
					</div>

					<div class="form-group">
						{{ form_label(form.date) }}
						{{ form_widget(form.date, { 'attr': {'class': 'form-control'} }) }}
						{{ form_errors(form.date) }}
					</div>

					<div class="form-group">
						{{ form_label(form.note) }}


						<div class="star-rating">
							{% for i in 5..1 %}
								<input type="radio" id="star{{ i }}" name="{{ form.note.vars.full_name }}" value="{{ i }}" {% if form.note.vars.value == i %} checked {% endif %} style="display:none;">
								<label for="star{{ i }}" class="star" title="{{ i }} étoiles">&#9733;</label>
							{% endfor %}
						</div>

						<style>
							.star {
								font-size: 2rem;
								color: #ccc;
								cursor: pointer;
							}
							input[type=radio]:checked ~ label.star,
							label.star:hover,
							label.star:hover ~ label.star {
								color: gold;
							}
						</style>

						{{ form_errors(form.note) }}
					</div>

					<div class="form-group">
						{{ form_label(form.content, 'Votre Commentaire:') }}
						{{ form_widget(form.content, { 'attr': {'class': 'form-control'} }) }}
						{{ form_errors(form.content) }}
					</div>
					{# {{ form_rest(form) }} affiche tous les champs obligatoires du formulaire, en commentant cette ligne on supprime les champs obligatoires
															 mais aussi le token, donc pas d'envoi en BDD. il faut rajouter le token avec la ligne 117 #}
					{{ form_widget(form._token) }}

					<div class="form-group">
						<button class="btn btn-info mt-2 text-white" type="submit">Envoyer mon Commentaire</button>
					</div>

					{{ form_end(form, {'render_rest': false}) }}

				</div>
			</div>
		</div>
	{% endif %}


	<div class="container d-flex justify-content-center mb-5 mt-3">
		<a class="btn btn-outline-info rounded-pill px-4 py-2 shadow-sm fw-bold" href="{{ path('app_article_index') }}">Retour</a>
		{% if is_granted("ROLE_ADMIN") %}
			<a class="btn btn-outline-primary rounded-pill px-4 py-2 shadow-sm fw-bold ms-1 me-1" href="{{ path('app_article_edit', {'id': article.id}) }}">edit</a>
			{{ include('article/_delete_form.html.twig') }}
		{% endif %}
	</div>
{% endblock %}
